run = "python3 -m gunicorn app:app --bind 0.0.0.0:8080"

[deployment]
run = ["sh", "-c", "python3 -m gunicorn app:app --bind 0.0.0.0:8080"]
build = ["sh", "-c", "pip install -r requirements.txt"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
